.Profil {
    width: 372px;
      height: 337px;
      left: 12px;
      top: 16px;
      position: absolute;
      background: #d0eaeb;
      border-radius: 25px;
}

.Rectangle13 {
    width: 372px;
      height: 61px;
      left: 12px;
      top: 405px;
      position: absolute;
      background: #f6f6f7;
      border-radius: 10px;
}

.Rectangle14 {
    width: 372px;
      height: 61px;
      left: 12px;
      top: 485px;
      position: absolute;
      background: #f6f6f7;
      border-radius: 10px;
}

.Rectangle15 {
    width: 372px;
      height: 60px;
      left: 12px;
      top: 480px;
      position: absolute;
      background: #f6f6f7;
      border-radius: 10px;
}

.Rectangle16 {
    width: 372px;
      height: 60px;
      left: 12px;
      top: 555px;
      position: absolute;
      background: #f6f6f7;
      border-radius: 10px;
}

.Rectangle17 {
    width: 372px;
      height: 60px;
      left: 12px;
      top: 637px;
      position: absolute;
      background: #f6f6f7;
      border-radius: 10px;
}

.Rectangle12 {
    width: 993px;
      height: 337px;
      left: 423px;
      top: 16px;
      position: absolute;
      background: #f6f6f7;
      border-radius: 25px;
}

.FondDcran1 {
    width: 150px;
      height: 150px;
      left: 123px;
      top: 34px;
      position: absolute;
      border-radius: 100px;
      border: 5px #4c4f69 solid;
}

.MathisDenis{
    left: 141px;
      top: 196px;
      position: absolute;
      color: #4c4f69;
      font-size: 16px;
      font-family: Poppins;
      font-weight: 700;
      letter-spacing: 0.8px;
      word-wrap: break-word;
}

.Zarkan69 {
    left: 153px;
      top: 235px;
      position: absolute;
      color: #4c4f69;
      font-size: 16px;
      font-family: Poppins;
      font-weight: 700;
      letter-spacing: 0.8px;
      word-wrap: break-word;
}
