<div id="container">
    <div id="profile">
        <div id="user">
            <div id="pp">
                <img src="/assets/accueil/HoloPPIcon.png" alt="photo de profil">
            </div>
            <div id="quick_desc">
                <p id="name">Mathis Denis</p>
                <p id="alias">Alias</p>
                <p id="alias_name">Zarkan69</p>
                <p id="job">Étudiant en informatique</p>
                <div id="decorateur"></div>
            </div>
        </div>
        <div id="info">
            <ul id="info_list">
                <li class="info_element">
                    <img src="/assets/accueil/at_mail_icon.png" alt="at icon" class="info_icon">
                    <span class="info_span"><p>mathispierre.denis@gmail.com</p></span>
                </li>
                <li class="info_element">
                    <img src="/assets/accueil/phone_icon.png" alt="phone icon" class="info_icon">
                    <span class="info_span"><p>Portable : 06 66 60 41 70</p></span>
                </li>
                <li class="info_element">
                    <img src="/assets/accueil/pin_icon.png" alt="Location pin icon" class="info_icon">
                    <span class="info_span"><p>77500 Chelles</p></span>
                </li>
                <li class="info_element">
                    <img src="/assets/accueil/language_icon.png" alt="Language icon" class="info_icon">
                    <span class="info_span"><p>Langue maternelle : Français 🇫🇷 <br> Anglais : CECRL C2 🇬🇧</p> </span>
                </li>
            </ul>
        </div>
    </div>
    <div id="top">
        <nav>
            <ul id="nav_list" #nav_list>
                <li class="nav_element" #first_element><a class="nav_link" href="#"><p>Accueil</p></a></li>
                <li class="nav_element"><a class="nav_link" href="#"><p>Parcours académique</p></a></li>
                <li class="nav_element"><a class="nav_link" href="#"><p>Expériences</p></a></li>
                <li class="nav_element"><a class="nav_link" href="#"><p>Projets</p></a></li>
                <div id="animation" #animation></div>
          </ul>
        </nav>
        <div id="description">
            <p id="titre">
                À <span id="to_color">propos</span> de moi
            </p>
            <p id="txt">
                Étudiant en troisième année de BUT Informatique à l'IUT de Montreuil - Paris 8. <br>
                Passionné par la programmation, j'aimerais mettre en application mes connaissances et les développer dans le monde professionnel
            </p>
        </div>
      </div>
      <div id="bottom">
        <div id="compétences">
            <div id="titre2">
                <span>Compétences</span>
            </div>
            <div id="wrapper">
                <ul id="compétences_list_1">
                    <li class="compétences_element" id="cp1">
                        <div class="compétences_titre">
                            <span class="compétences_span"><p>Java : </p></span>
                            <img src="/assets/accueil/java.png" alt="java icon" class="compétences_icon">
                        </div>
                        <p class="compétences_desc">J'ai travailler en java durant mes deux premières années d'études.</p>
                        <p class="compétences_desc">Le projet le plus avancé que j'ai réalise dans ce language est une simulation physique
                            réalisé durant le projet de 2e semestre en javaFX.
                        </p>
                    </li>
                    <li class="compétences_element" id="cp2">
                        <div class="compétences_titre">
                            <span class="compétences_span"><p>Python</p></span>
                            <img src="/assets/accueil/python.png" alt="python icon" class="compétences_icon">
                        </div>
                        <p class="compétences_desc">J'ai réaliser en python une API utilisant Flask durant la réalisation d'une webapp pour le projet
                            du 5e semestre.
                        </p>
                    </li>
                </ul>
                <ul id="compétences_list_2">
                    <li class="compétences_element" id="cp3">
                        <div class="compétences_titre">
                            <span class="compétences_span"><p>C : </p></span>
                            <img src="/assets/accueil/c.png" alt="C icon" class="compétences_icon">
                        </div>
                        <p class="compétences_desc">J'ai appris la programmation en C durant ma première année d'étude ce qui ma permit de saisir l'importance de la
                            gestion de la mémoire et de la compréhension des structures de données.
                        </p>
                    </li>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        
                    <li class="compétences_element" id="cp4">
                        <div class="compétences_titre">
                            <span class="compétences_span"><p>Web</p></span>
                            <img src="/assets/accueil/angular.png" alt="angular icon" class="compétences_icon">
                        </div>
                        <p class="compétences_desc">Mes 2e et 3e année d'études ayant eu comme projet la réalisation de webapp, j'ai appris à utiliser le framework Angular
                            et à manipuler des bases de données avec MongoDB.
                        </p>
                        <p class="compétences_desc">J'ai réalisé pour ces projets des api en NodeJS et Express ainsi qu'en .NET.</p>
                    </li>
                </ul>
            </div>
        </div>
      </div>
</div>