<div id="container">
    <div id="profile">
        <div id="user"></div>
        <div id="info">
            <ul id="info_list">
                <li class="info_element">
                    <img src="/assets/accueil/at_mail_icon.png" alt="at icon" class="info_icon">
                    <span class="info_span"><p>mathispierre.denis@gmail.com</p></span>
                </li>
                <li class="info_element">
                    <img src="/assets/accueil/phone_icon.png" alt="phone icon" class="info_icon">
                    <span class="info_span"><p>Portable : 06 66 60 41 70</p></span>
                </li>
                <li class="info_element">
                    <img src="/assets/accueil/pin_icon.png" alt="Location pin icon" class="info_icon">
                    <span class="info_span"><p>77500 Chelles</p></span>
                </li>
                <li class="info_element">
                    <img src="/assets/accueil/language_icon.png" alt="Language icon" class="info_icon">
                    <span class="info_span"><p>Langue maternelle : Français 🇫🇷 <br> Anglais : CECRL C2 🇬🇧</p> </span>
                </li>
            </ul>
        </div>
    </div>
    <div id="top">
        <nav>
            <ul id="nav_list" #nav_list>
                <li class="nav_element" #first_element><a class="nav_link" href="#"><p>Accueil</p></a></li>
                <li class="nav_element"><a class="nav_link" href="#"><p>Compétences</p></a></li>
                <li class="nav_element"><a class="nav_link" href="#"><p>Expériences</p></a></li>
                <li class="nav_element"><a class="nav_link" href="#"><p>Formations</p></a></li>
                <li class="nav_element"><a class="nav_link" href="#"><p>Projets</p></a></li>
                <li class="nav_element"><a class="nav_link" href="#"><p>Contact</p></a></li>
                <div id="animation" #animation></div>
          </ul>
        </nav>
        <div id="description">
            <p id="titre">
                À <span id="to_color">propos</span> de moi
            </p>
            <p id="txt">
                Étudiant en troisième année de BUT Informatique à l'IUT de Montreuil - Paris 8. <br>
                Passionné par la programmation, j'aimerais mettre en application mes connaissances et les développer dans le monde professionnel
            </p>
        </div>
      </div>
      <div id="bottom">
        <div id="compétences">
            <div id="titre2">
                <span>Compétences</span>
            </div>
            <div id="wrapper">
                <ul id="compétences_list_1">
                    <li class="compétences_element" id="cp1">
                        <div class="compétences_titre">
                            <span class="compétences_span"><p>Java : </p></span>
                            <img src="/assets/accueil/java.png" alt="java icon" class="compétences_icon">
                        </div>
                        <p class="compétences_desc">Description</p>
                    </li>
                    <li class="compétences_element" id="cp2">
                        <div class="compétences_titre">
                            <span class="compétences_span"><p>Python</p></span>
                            <img src="/assets/accueil/python.png" alt="python icon" class="compétences_icon">
                        </div>
                        <p class="compétences_desc">Description</p>
                    </li>
                </ul>
                <ul id="compétences_list_2">
                    <li class="compétences_element" id="cp3">
                        <div class="compétences_titre">
                            <span class="compétences_span"><p>C : </p></span>
                            <img src="/assets/accueil/c.png" alt="C icon" class="compétences_icon">
                        </div>
                        <p class="compétences_desc">Description</p>
                    </li>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        
                    <li class="compétences_element" id="cp4">
                        <div class="compétences_titre">
                            <span class="compétences_span"><p>Web</p></span>
                            <img src="/assets/accueil/angular.png" alt="angular icon" class="compétences_icon">
                        </div>
                        <p class="compétences_desc">Description</p>
                    </li>
                </ul>
            </div>
        </div>
      </div>
</div>