<div id="compétences">
    <div id="titre2">
        <span>Compétences</span>
    </div>
    <div id="wrapper">
        <ul id="compétences_list_1">
            <li class="compétences_element" id="cp1">
                <div class="compétences_titre">
                    <span class="compétences_span"><p>Java : </p></span>
                    <img src="/assets/accueil/java.png" alt="java icon" class="compétences_icon">
                </div>
                <p class="compétences_desc">J'ai travailler en java durant mes deux premières années d'études.</p>
                <p class="compétences_desc">Le projet le plus avancé que j'ai réalise dans ce language est une simulation physique
                    réalisé durant le projet de 2e semestre en javaFX.
                </p>
            </li>
            <li class="compétences_element" id="cp2">
                <div class="compétences_titre">
                    <span class="compétences_span"><p>Python</p></span>
                    <img src="/assets/accueil/python.png" alt="python icon" class="compétences_icon">
                </div>
                <p class="compétences_desc">J'ai réaliser en python une API utilisant Flask durant la réalisation d'une webapp pour le projet
                    du 5e semestre.
                </p>
            </li>
        </ul>
        <ul id="compétences_list_2">
            <li class="compétences_element" id="cp3">
                <div class="compétences_titre">
                    <span class="compétences_span"><p>C : </p></span>
                    <img src="/assets/accueil/c.png" alt="C icon" class="compétences_icon">
                </div>
                <p class="compétences_desc">J'ai appris la programmation en C durant ma première année d'étude ce qui ma permit de saisir l'importance de la
                    gestion de la mémoire et de la compréhension des structures de données.
                </p>
            </li>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        
            <li class="compétences_element" id="cp4">
                <div class="compétences_titre">
                    <span class="compétences_span"><p>Web</p></span>
                    <img src="/assets/accueil/angular.png" alt="angular icon" class="compétences_icon">
                </div>
                <p class="compétences_desc">Mes 2e et 3e année d'études ayant eu comme projet la réalisation de webapp, j'ai appris à utiliser le framework Angular
                    et à manipuler des bases de données avec MongoDB.
                </p>
                <p class="compétences_desc">J'ai réalisé pour ces projets des api en NodeJS et Express ainsi qu'en .NET.</p>
            </li>
        </ul>
    </div>
</div>