#user {
    grid-area: profile;
    border-radius: 2rem;
    margin: auto;
    width: 80%;
    height: 80%;

    background-color: var(--accent2-color);
}

#info {
    grid-area: info;
    display: flex;
    justify-content: center;
    /*border: solid 5px var(--primary-color);*/
}

#info_list {
    width: fit-content;
    margin-left: 10px;
    margin-right: 10px;
}

.info_element {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 3rem;
    border-radius: 0.5rem;
    align-items: center;
    width: 100%;
    margin-right: 10px;
    background-color: var(--secondary-color);
}

.info_icon {
    width: 32px;
    height: 32px;
    margin: 10px;
    
}

.info_span {
    text-align: left;
    font-weight: bold;
    font-size: clamp(10px, 1vw, 5em);
    color: var(--text-color);
}

nav {
    display: flex;
    height: 20%;
    align-items: center;
    margin-top: 10px;
    margin-left: 25%;
}

#nav_list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 80%;
    min-height: 45px;
    margin: auto;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 0.5rem;
    background-color: var(--primary-color);
}

.nav_element {
    display: flex;
    align-items: center;
    width: fit-content;
    height: 100%;
}

.nav_link>p {
    text-decoration: none;
    color: var(--text2-color);
    font-size: clamp(1rem, 2vw, 1.5rem);
    font-weight: bolder;
    margin: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.nav_link:hover {
    color: var(--accent2-color);
}

#animation {
    position: absolute;
    margin-top: 32px;
    height: 0.3rem;
    border-radius: 0.5rem;
    transition: ease-in-out 0.4s;
    z-index: 999;
    background-color: var(--accent2-color);
}

#description {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 90%;
    margin: auto;
}

#titre {
    font-weight: bold;
    font-size: 2rem;
    color: var(--text-color);
    margin-bottom: auto;
}

#txt {
    font-size: large;
    font-weight: bold;
    color: var(--text-color);
}

#to_color {
    color: var(--accent-color);
}

#compétences {
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3.5fr;
    grid-template-areas: "titre2" "compétences";
}

.compétences_titre {
    display: flex;
    margin: 1rem;
    margin-top: 0;
}

.compétences_span>p {
    font-weight: bold;
    font-size: clamp(1rem, 1.5vw, 2rem);
    color: var(--text2-color);
}

.compétences_desc {
    margin: 1rem;
    width: fit-content;
    height: fit-content;
    font-weight: bold;
    font-size: clamp(1rem, 1vw, 2rem);
    color: var(--text2-color);
}

#titre2 {
    grid-area: titre2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    margin-top: 7%;
}

#titre2>span {
    font-weight: bold;
    font-size: clamp(20px, 2vw, 5em);
    height: fit-content;
    color: var(--text-color);
}

#wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    margin-left: 10%;
    margin-right: 10%;
    height: 100vh;
    margin-top: 50px;
    margin-bottom: 0;
    padding: 0;
}

#compétences_list_1 {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr 1fr;
    grid-template-areas: "cp1" "cp2";
    gap: 20px;
}

#compétences_list_2 {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1.5fr;
    grid-template-areas: "cp3" "cp4";
    gap: 20px;
}

#cp1 {
    grid-area: cp1;
    background-color: var(--accent-color);
}

#cp2 {
    grid-area: cp2;
    background-color: var(--accent-color);
}

#cp3 {
    grid-area: cp3;
    background-color: var(--accent-color);
}

#cp4 {
    grid-area: cp4;
    background-color: var(--accent-color);
}

.compétences_element {
    border-radius: 2rem;
}

.compétences_icon {
    width: 42px;
    height: 42px;
    align-self: center;
    margin-left: auto;
}

#pp {
    border-radius: 1px solid var(--accent-color);
    justify-content: center;
    align-items: center;
}

#pp>img {
    display: flex;
    margin: auto;
    border-radius: 50%;
    width: 128px;
    height: 128px;
}

#quick_desc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#name {
    display: flex;
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}

#alias {
    display: flex;
    color: var(--text-color);
    font-size: 1rem;
    margin: 0;
}

#alias_name {
    display: flex;
    color: var(--text-color);
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
}

#job {
    display: flex;
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    margin-top: 15%;
}

#decorateur {
    display: flex;
    background-color: var(--accent-color);
    z-index: 99;
}